@import "tailwindcss";

@import "preline/variants.css";

@import "./contact/style.css";
@source "../node_modules/preline/dist/*.js";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: #333333;
  --color-primary: #4c9bfc;
  --color-secondary: #ff7b5b;
  --color-eggshell: #f5f5f5;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  @apply text-eggshell dark:bg-black;
}

.nav-links {
  @apply text-2xl md:flex hidden justify-center gap-8 p-10 bg-primary;
}

.mobile-nav-container {
  @apply h-full w-3/4 fixed z-10 bg-secondary md:hidden;
}

ul.mobile-nav-links > li {
  @apply text-2xl  flex flex-col py-5 border-b-4 border-b-eggshell;
}

nav > ul.nav-links > li {
  @apply font-semibold uppercase border-b-white hover:text-secondary transition-colors;
}

.mobile-menu-btn {
  @apply md:hidden uppercase text-2xl py-3 w-full text-center border-2 border-secondary mb-8;
}

.hero-section {
  @apply flex flex-col items-center text-center md:py-24 py-5;

  h1 {
    @apply md:text-6xl text-3xl font-bold mt-10 bg-clip-text text-transparent bg-linear-to-r from-eggshell to-secondary;
  }

  p {
    @apply mt-5 md:text-2xl text-xl text-secondary bg-eggshell px-10 py-2 rounded-xl;
  }
}

.service-pane {
  @apply bg-eggshell md:py-32 py-20 md:px-20 px-8 justify-center;

  h2 {
    @apply md:text-8xl text-6xl text-secondary text-center mb-3 font-bold;
  }

  p.service-subtitle {
    @apply md:text-3xl text-xl text-primary text-center mb-10 font-semibold;
  }
}

.offerings {
  @apply grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 md:gap-6 gap-3;

  h3 {
    @apply text-3xl bg-eggshell rounded-lg px-10 py-2 md:text-4xl font-semibold mt-5 text-secondary;
  }

  p.description {
    @apply text-3xl text-eggshell mt-6 mb-6;
  }
}

.service-offering {
  @apply md:p-8 p-5 border-4 hover:border-secondary bg-primary rounded-xl flex flex-col items-center text-center;

  p {
    @apply mt-3 text-xl;
  }
}

.contact-call-to-action {
  @apply bg-primary py-32 px-20 flex flex-col text-center items-center;

  h2 {
    @apply md:text-8xl text-6xl text-eggshell text-center mb-3 font-bold;
  }

  p {
    @apply mt-3 text-2xl lg:px-52 px-0 font-semibold;
  }
}

.cta-btn {
  @apply mt-20 py-3 px-6 bg-secondary text-eggshell border-2 border-secondary hover:bg-eggshell hover:text-secondary rounded-lg font-semibold text-2xl transition-colors;
}

.page {
  h1 {
    @apply md:text-8xl text-5xl mb-10 mt-10 md:mt-0 md:text-right;
  }

  p {
    @apply text-xl mb-5 leading-8;
  }
}

.wds-container {
  @apply container mx-auto lg:px-32 px-10 mt-10;
}

footer {
  @apply p-10 text-center text-black bg-eggshell text-xl;
}
