@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  @apply bg-primary text-eggshell;
}
.nav-links {
  @apply text-2xl flex justify-center gap-8 p-10 bg-primary;
}

nav > ul > li {
  @apply font-semibold uppercase border-b-white hover:text-secondary transition-colors;
}

.hero-section {
  @apply flex flex-col items-center py-24;

  h1 {
    @apply text-6xl font-bold mt-10;
  }

  p {
    @apply mt-5 text-2xl text-secondary;
  }
}

.computer-desktop-icon {
  @apply size-1/5;
}

.service-pane {
  @apply bg-eggshell py-32 px-20 justify-center;

  h2 {
    @apply text-8xl text-secondary text-center mb-3 font-bold;
  }

  p {
    @apply text-3xl text-primary text-center mb-10;
  }
}

.offerings {
  @apply grid grid-cols-3 gap-6;

  h3 {
    @apply text-3xl;
  }

  p.description {
    @apply text-xl text-eggshell;
  }
}

.service-offering {
  @apply p-8 border-4 hover:border-secondary bg-primary rounded-xl flex flex-col items-center text-center;

  h3 {
    @apply text-3xl font-semibold mt-5 text-secondary;
  }

  p {
    @apply mt-3 text-xl;
  }
}

.contact-call-to-action {
  @apply bg-primary py-32 px-20 flex flex-col text-center items-center;

  h2 {
    @apply text-8xl text-secondary text-center mb-3 font-bold;
  }

  p {
    @apply mt-3 text-2xl px-52;
  }
}

.cta-btn {
  @apply mt-20 py-3 px-6 bg-secondary text-primary border-2 border-secondary hover:bg-transparent hover:text-eggshell rounded-lg font-semibold text-2xl transition-colors;
}

.about-container {
  @apply container mx-auto px-52;

  h1 {
    @apply text-8xl mb-10 text-right;
  }

  p {
    @apply text-3xl ml-10 mb-5 leading-10;
  }
}