@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  @apply bg-primary text-eggshell;
}

.nav-links {
  @apply text-2xl md:flex hidden justify-center gap-8 p-10 bg-primary ;
}

.mobile-nav-container {
  @apply h-full w-3/4 fixed z-10 bg-secondary md:hidden;
}

ul.mobile-nav-links > li {
  @apply text-2xl  flex flex-col py-5 border-b-4 border-b-primary text-primary;
}

nav > ul.nav-links > li {
  @apply font-semibold uppercase border-b-white hover:text-secondary transition-colors;
}

.mobile-menu-btn {
  @apply md:hidden uppercase text-2xl py-3 w-full text-center border-2 border-secondary mb-8;
}

.hero-section {
  @apply flex flex-col items-center text-center md:py-24 py-5;

  h1 {
    @apply md:text-6xl text-3xl font-bold mt-10;
  }

  p {
    @apply mt-5 md:text-2xl text-xl text-secondary;
  }
}

.computer-desktop-icon {
  @apply size-1/5;
}

.service-pane {
  @apply bg-eggshell md:py-32 py-20 px-20 justify-center;

  h2 {
    @apply md:text-8xl text-6xl text-secondary text-center mb-3 font-bold;
  }

  p {
    @apply md:text-3xl text-xl text-primary text-center mb-10;
  }
}

.offerings {
  @apply grid md:grid-cols-3 grid-cols-1 md:gap-6 gap-3;

  h3 {
    @apply text-3xl;
  }

  p.description {
    @apply text-xl text-eggshell;
  }
}

.service-offering {
  @apply md:p-8 p-5 border-4 hover:border-secondary bg-primary rounded-xl flex flex-col items-center text-center;

  h3 {
    @apply md:text-3xl text-2xl font-semibold mt-5 text-secondary;
  }

  p {
    @apply mt-3 text-xl;
  }
}

.contact-call-to-action {
  @apply bg-primary py-32 px-20 flex flex-col text-center items-center;

  h2 {
    @apply md:text-8xl text-6xl text-secondary text-center mb-3 font-bold;
  }

  p {
    @apply mt-3 text-2xl lg:px-52 px-0;
  }
}

.cta-btn {
  @apply mt-20 py-3 px-6 bg-secondary text-primary border-2 border-secondary hover:bg-transparent hover:text-eggshell rounded-lg font-semibold text-2xl transition-colors;
}

.about-container {
  @apply container mx-auto lg:px-52 px-10;

  h1 {
    @apply md:text-8xl text-5xl mb-10 mt-10 md:mt-0 md:text-right;
  }

  p {
    @apply text-2xl mb-5 leading-9;
  }
}

footer {
  @apply p-10 text-center text-black bg-eggshell text-xl;
}